<div class="coolector-panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="coolector-panel coolector-panel-default">
        <div class="coolector-panel-heading" role="tab" id="headingOne">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="coolector-panel-title">
                    <span class="coolector-icon" style="float: right" aria-hidden="true">
                        {{> icon-open}}
                    </span>
                    Coolector
                </h4>
            </a>
        </div>
        <div id="collapseOne" class="coolector-panel-collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="coolector-panel-body">
                <button style="float: right" type="button" class="coolector-btn coolector-btn-default" aria-label="Left Align">
                    <span class="coolector-icon" aria-hidden="true">
                        {{> icon-delete }}
                    </span>
                </button>
                Item saved.
                <form>
                    <div class="coolector-form-group">
                        <input id="coolector-tags" type="text" class="coolector-form-control" placeholder="tags">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="coolector-panel coolector-panel-default">
        <div class="coolector-panel-heading" role="tab">
            <a href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="coolector-panel-title">
                    <span class="coolector-icon" style="float: right" aria-hidden="true">
                        {{> icon-open}}
                    </span>
                    Camnotifier
                </h4>
            </a>
        </div>
    </div>
</div>