<div class="coolector-box">
    <div class="coolector-box-title">
        Coolector
        <div class="img-open">
            {{> icon-open }}
        </div>
    </div>
    <div class="coolector-box-content">
        <div class="coolector-box-content-title">
            Item saved.
            <img src="images/more.svg" />
            <div class="coolector-box-title-submenu">
                <div class="coolector-box-title-submenu-button rttbtn1"><img src="images/delete.svg" /> Remove Item</div>
                <div class="coolector-box-title-submenu-button rttbtn2"><img src="images/open.svg" /> Open Coolector</div>
            </div>
        </div>
        <div class="coolector-box-content-tags">
            <img src="images/tag.svg" />
            <input type="text" class="coolector-box-content-tags-input" placeholder="Add tags" />
        </div>
        <img src="images/girl.jpg" class="coolector-box-content-image" />
        <div class="coolector-box-content-text">
            Some title that can extend on multiple pages if we need and want.
        </div>
    </div>
</div>