<div class="coolector-bootstrap" id="coolector-box">
    <div class="coolector-container-fluid">
        <div class=".coolector-row">
            <div class="coolector-col-md-12">
                {{> collector-list }}
            </div>
        </div>
    </div>
</div>