<div id="coolector-box" class="coolector-wrapper coolector-hidden">
    {{#if message}}
    <div class="coolector-notification">
        {{{message}}}
    </div>
    {{/if}}
    {{#if plugins.length}}
    <div class="coolector-boxes">
        {{> collector-list }}
    </div>
    {{/if}}
</div>