<div id="coolector-box">
    <div class="coolector-bootstrap">
        <div class="coolector-container-fluid">
            <div class="coolector-row">
                {{> collector-list }}
            </div>
        </div>
    </div>
</div>