<div id="coolector-box" class="coolector-wrapper coolector-hidden">
    <!--<div class="coolector-notification">-->
        <!--There is no collector active. <br /> Please go to <a href="#">settings</a> and activate or add collectors.-->
    <!--</div>-->
    <div class="coolector-boxes">
        {{> collector-list }}
    </div>
</div>